.sidenav-container {
  height: 100vh;
}
.custom-sidenav {
  width: 280px;
  background: #FFD38F;
}

.toolbar-fixed {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #3F51B5;
}

.spacer {
  flex: 1 1 auto;
}

.layout-main {
  padding: 1.5rem;
  height: calc(100vh - 64px);
  overflow-y: auto;
  background-color: #f4f6f9;
}
