<form #profileForm="ngForm" (ngSubmit)="onSubmit()" class="profile-form">

  <div class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="editedProfile.address" name="address" required />
      <mat-error *ngIf="profileForm.controls['address']?.invalid && profileForm.controls['address']?.touched">
        Address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Payment method</mat-label>
      <mat-select [(ngModel)]="selectedPaymentMethod" name="paymentMethod" required (ngModelChange)="updatePaymentMethod()">
        <mat-option [value]="'creditCard'">Credit card</mat-option>
        <mat-option [value]="'paypal'">PayPal</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle
      class="custom-toggle"
      [(ngModel)]="editedProfile.preferences.notifications"
      name="notifications"
      labelPosition="before"
    >
      Notifications
    </mat-slide-toggle>

    <div class="buttons">
      <button mat-raised-button class="custom-save" color="primary" type="submit" [disabled]="profileForm.invalid">Save</button>
      <button mat-button class="custom-cancel" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
