<mat-nav-list class="custom-sidenav">
  <div class="logo-container">
    <img src="../../../../assets/img/principal-logo.png" alt="BikeShare Logo" class="logo">
    <mat-divider class="logo-divider"></mat-divider>
  </div>

  <div class="nav-items">
    <a *ngFor="let item of menuItems"
       mat-list-item
       [routerLink]="item.link"
       routerLinkActive="active">
      <div class="menu-item-content">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label | translate }}</span>
      </div>
    </a>
  </div>

  <div class="logout-container">
    <a mat-list-item (click)="onLogout()">
      <div class="menu-item-content">
        <mat-icon>logout</mat-icon>
        <span>{{ 'Sidebar.Logout' | translate }}</span>
      </div>
    </a>
  </div>
</mat-nav-list>
