<mat-nav-list class="custom-sidenav">
  <div class="logo-container">
    <img src="assets/img/logo5.png" alt="BikeShare Logo" class="logo">
  </div>

  <a mat-list-item routerLink="/renter/home"   routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/renter/map"    routerLinkActive="active">
    <mat-icon>map</mat-icon>
    <span>My Map</span>
  </a>
  <a mat-list-item routerLink="/renter/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>
  <a mat-list-item routerLink="/renter/support" routerLinkActive="active">
    <mat-icon>headset</mat-icon>
    <span>Support</span>
  </a>
</mat-nav-list>
