<div class="forgot-password-wrapper">
  <div class="form-container">
    <div class="header">
      <img src="../../../../assets/img/principal-logo.png" alt="BikeShare Logo" />
      <h3>{{ 'ForgotPassword.Title' | translate }}</h3>
      <p>{{ 'ForgotPassword.Instruction' | translate }}</p>
    </div>

    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <label for="email">{{ 'ForgotPassword.EmailLabel' | translate }}</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" [placeholder]="'ForgotPassword.EmailPlaceholder' | translate" required />

      <button type="submit" class="btn-primary">{{ 'ForgotPassword.ContinueBtn' | translate }}</button>
    </form>

    <div class="back-to-login">
      <a routerLink="/login" class="link-button">{{ 'ForgotPassword.BackToLogin' | translate }}</a>
    </div>
  </div>
</div>
