<div class="reset-password-wrapper">
  <div class="form-container">
    <div class="header">
      <h3>{{ 'ResetPassword.Title' | translate }}</h3>
      <p>{{ 'ResetPassword.Instruction' | translate }}</p>
    </div>

    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
      <label for="password">{{ 'ResetPassword.NewPasswordLabel' | translate }}</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" [placeholder]="'ResetPassword.NewPasswordPlaceholder' | translate" required />

      <label for="confirmPassword">{{ 'ResetPassword.ConfirmPasswordLabel' | translate }}</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" [placeholder]="'ResetPassword.ConfirmPasswordPlaceholder' | translate" required />

      <button type="submit" class="btn-primary">{{ 'ResetPassword.UpdateBtn' | translate }}</button>
    </form>
  </div>
</div>
