<div class="login-wrapper">
  <div class="login-left">
    <img src="../../../../assets/img/principal-logo.png" alt="BikeShare Logo" />
    <h2>{{ 'Login.WelcomeTitle' | translate }} <span>BikeShare</span></h2>
    <p>{{ 'Login.Tagline' | translate }}</p>
  </div>

  <div class="login-right">
    <div class="language-switcher">
      <button (click)="switchLanguage('es')" [class.active]="translate.currentLang === 'es'">ES</button>
      <button (click)="switchLanguage('en')" [class.active]="translate.currentLang === 'en'">EN</button>
    </div>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <h3>{{ 'Login.SignIn' | translate }}</h3>
      <label for="email">{{ 'Login.EmailLabel' | translate }}</label>
      <input type="email" id="email" name="email" [placeholder]="'Login.EmailPlaceholder' | translate" [(ngModel)]="email" required />

      <label for="password">{{ 'Login.PasswordLabel' | translate }}</label>
      <input type="password" id="password" name="password" [placeholder]="'Login.PasswordPlaceholder' | translate" [(ngModel)]="password" required />

      <div class="forgot-password">
        <a (click)="onForgotPassword()" class="link-button">{{ 'Login.ForgotPassword' | translate }}</a>
      </div>

      <button type="submit" class="btn-signin">{{ 'Login.SignInBtn' | translate }}</button>

      <div class="signup-text">
        {{ 'Login.NoAccount' | translate }}
        <button type="button" routerLink="/register" class="link-button">{{ 'Login.SignUp' | translate }}</button>
      </div>
    </form>
  </div>
</div>
