.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  row-gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

mat-raised-button {
  background-color: var(--mat-accent);
  color: black;
  border-radius: 20px;
}

mat-button {
  background-color: var(--mat-primary);
  color: black;
}

mat-form-field {
  width: 400px;
  max-width: 100%;
}

.custom-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #FFD700 !important; /* Amarillo */
}

.custom-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #FFC107 !important; /* Amarillo dorado */
}

